body{
    margin:0;
    padding: 0;
}
#container{
    display:flex;
    flex-flow: column;
}
#select_bar{
    width:100%;
    height: 64px;
    background-color: #f6f6f6;
}
#mediate{
    margin-left: 30px;
    height: inherit;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.nav_item{
    display:inline-block;
    font-size: 26px;
    color: #2b2b2b;
    margin: 48px;
}
.choice{
    display:inline-block;
    font-size: 26px;
    color: #2b2b2b;
    margin: auto;
}
.choice_1:hover{
    text-decoration-line: underline;
    font-weight: bold;
}
a{
    color: #2b2b2b;
    text-decoration: none;
}
#task_bar{
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#mediate_2{
    height: inherit;
    width:800px;
    background-color: #0BB5FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    background-image: linear-gradient(to right top,#4876FF, #0BB5FF, #f6f6f6, #ffffff);
    height: 200px;
    position: relative;
}
h1{
    position: absolute;
    color: #2b2b2b;
    font-size: 40px;
    left: 60px;
    top: 20px;
}
#task_board{
    background-color: #f6f6f6;
    height: 200px;
    width: 510px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    border-radius: 10px;
}
#task_number{
    position: relative;
}
#number_title{
    color: #2b2b2b;
    position: absolute;
    font-size: 23px;
    left: 40px;
    top: 0px;
}
#data_number{
    position: absolute;
    width: 400px;
    height: 25px;
    left: 60px;
    top: 80px;
    font-size: 24px;
}
.submit{
    position: absolute;
    left: 125px;
    top: 130px;
    background-image: linear-gradient(to left, #0BB5FF, #4876FF);
    height:40px;
    width:250px;
    border-radius: 20px;
    border: 0px;
    font-size:28px;
    color: white;
    align-items: center;
}
.submit:hover{
    background-image: none;
    background-color: #0BB5FF;
}
#content{
    margin-top: 40px;
    display: flex;
    flex-flow: column;    
}
.small_task{
    background-image: linear-gradient(to right, #0BB5FF, #4876FF);
    height:70px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.name{
    display: flex;
    font-size: 24px;
    color: #ffffff;
}
.time{
    display: flex;
    font-size: 24px;
    color: #ffffff;
}
.name_part{
    margin-left: 8px;
    color: #ffffff;
}
.time_part{
    margin-left: 8px;
    color: #ffffff; 
}
#start{
    height: 30px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size:30px;
    color: white;
    background-image: linear-gradient(to right, #0BB5FF, #4876FF);
    text-align: center;
    padding: 4px;
    border-radius: 30px;
    display: none;
}
#start:hover {
    background-image: none;
    background-color: #0BB5FF;
    cursor: context-menu;
    transition: 0,5s;
}
#schedule{
    position: relative;
}
#drop_menu{
    position: absolute;
    top: 50px;
    display: none;
    z-index: 1;
}
#drop_content{
    position: relative;
    background-color: #f6f6f6;
    width: 160px;
    height:130px;
}
#Schedule:hover  #drop_menu{
    display: block;
}
#Schedule:hover{
    background-color: #CCCCCC;
}
.color_change:hover{
    background-color: #CCCCCC;
}
#drop_content_schedule{
    position: absolute;
    top:10px;
    left: 30px;
    background-color: #f6f6f6;
}
#drop_content_homework{
    position: absolute;
    top:50px;
    left:30px;
    background-color: #f6f6f6;
}
#drop_content_revision{
    position: absolute;
    top:90px;
    left: 30px;
    background-color: #f6f6f6;
}
#count_board{
    height: 280px;
    width: 510px;
    margin-top: 40px;
    font-size: 30px;
    color: #2b2b2b;
    background-color: #f6f6f6;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#count_content{
    position: absolute;
    top:20px;
    left: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, #4876FF, #0BB5FF);
    padding: 8px;
    padding-left: 8px;
    padding-right: 100px;
    border-bottom-right-radius:30px;
    border-top-right-radius:30px ;
    font-size: 30px;
    color: #ffffff;
}
#count{
    position: absolute;
    top: 100px;
    left: 180px;
    font-size: 50px;
}
#finish{
    position: absolute;
    height: 30px;
    width: 250px;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(to right, #0BB5FF, #4876FF);
    text-align: center;
    padding: 4px;
    border-radius: 30px;
    top: 180px;
    left: 120px;
}
