body{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
@font-face{
    font-family: font_main;
    src: url("D:\code\code_basic\code\basic_jvs\Projest\Source code\Assets\Font\dacasa.zip");
}
#select_bar{
    width:100%;
    height: 64px;
    background-color: #f6f6f6;
}
#mediate{
    margin-left: 30px;
    height: inherit;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.nav_item{
    display:inline-block;
    font-size: 26px;
    color: #2b2b2b;
    margin: 48px;
}
.choice{
    display:inline-block;
    font-size: 24px;
    color: black;
    font-weight:bold;
    margin: auto;
}
a{
    color: #2b2b2b;
    font-weight:bold;
    font-weight: 500;
    text-decoration: none;
}
#title{
    background-image: linear-gradient(to right top, #4876FF,#0BB5FF, #f6f6f6, #ffffff);
    height:200px;
    margin-top: 0px;
    position: relative;
    margin-bottom: 40px;
}
#main_title{
    position: absolute;
    font-size: 40px;
    left: 60px;
    top: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
    color: #2b2b2b;
    text-decoration-line: underline ;
}
.nav_item{
    display:inline-block;
    font-size: 26px;
    color: white;
    margin: 48px;
}
#days_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.days{
    font-size: 30px;
    background-image: linear-gradient(to right,#4876FF, #0BB5FF);
    margin: auto;
    color: white;
    padding: 8px;
}
.days:hover{
    background-image: none;
    background-color: #0BB5FF;
    box-shadow: 10px 10px #CCCCCC;
}
#content{
    display: flex;
    flex-flow:column;
}
.day{
    width: 1300px;
    height: 400px;
    background-image: linear-gradient(to right,#4876FF, #0BB5FF);
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 118px;
    margin-right: 118px;
    display: flex;
    flex-flow: column;
}
.morning_session{
    display: flex;
    height: 99%;
    border: 1px solid black;
}
.afternoon_session{
    display: flex;
    height: 99%;
    border: 1px solid black;
}
.morning{
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.afternoon{
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lesson{
    width: 14%;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.morning_part{
    font-size: 30px;
    color: white;
    text-decoration-line: underline;
}
.afternoon_part{
    font-size: 30px;
    color: white;
    text-decoration-line: underline;
}
.title{
    font-size: 24px;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.lesson_content{
    margin-top: 10px;
    margin-bottom: 10px;   
}
.time{
    font-size: 24px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#schedule{
    position: relative;
}
#drop_menu{
    position: absolute;
    top: 50px;
    display: none;
    z-index: 1;
}
#drop_content{
    position: relative;
    background-color: #f6f6f6;
    width: 160px;
    height:130px;
}
#Schedule:hover  #drop_menu{
    display: block;
}
#Schedule:hover{
    background-color: #CCCCCC;
}
.color_change:hover{
    background-color: #CCCCCC;
}
#drop_content_schedule{
    position: absolute;
    top:10px;
    left: 30px;
    background-color: #f6f6f6;
}
#drop_content_homework{
    position: absolute;
    top:50px;
    left:30px;
    background-color: #f6f6f6;
}
#drop_content_revision{
    position: absolute;
    top:90px;
    left: 30px;
    background-color: #f6f6f6;
}



