body{
    margin:0;
    padding: 0;
}
#container{
    display:flex;
    flex-flow: column;
}
#select_bar{
    width:100%;
    height: 64px;
    background-color:#f6f6f6;
}
.nav_item{
    display:inline-block;
    font-size: 26px;
    color: #2b2b2b; 
    margin: 48px;
}
#mediate{
    height: inherit;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.choice{
    display:inline-block;
    font-size: 24px;
    color: #2b2b2b;
    margin: auto;
}
#title{
    background-image: linear-gradient(to right top,#4876FF, #0BB5FF, #f6f6f6, #ffffff);
    height: 200px;
    position: relative;
}
h1{
    position: absolute;
    color: #2b2b2b;
    font-size: 40px;
    left: 60px;
    top: 20px;
}
a{
    color: #2b2b2b;
    text-decoration: none;
}
#search{
    height: 35px;
    width: 90%;
    font-size: 18px;
    border: 2px solid #0BB5FF;
    margin: 20px;
    background-color: #f6f6f6;
}
#task_bar{
    background-color: #f6f6f6;
}
#task_show{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;    
    background-image: linear-gradient(to right, #0BB5FF, #4876FF);
    padding: 8px;
}
#exercise{
    display: flex;
    flex-flow: column;
}
.part{
    height: 60px;
    width: 80%;
    background-image: linear-gradient(to right, #0BB5FF, #4876FF);
    color: black;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.name{
    color: black;
    margin-left: 20px;
    font-size: 24px;
}
#schedule{
    position: relative;
}
#drop_menu{
    position: absolute;
    top: 50px;
    display: none;
    z-index: 1;
}
#drop_content{
    position: relative;
    background-color: #f6f6f6;
    width: 160px;
    height:130px;
}
#Schedule:hover  #drop_menu{
    display: block;
}
#Schedule:hover{
    background-color: #CCCCCC;
}
.color_change:hover{
    background-color: #CCCCCC;
}
#drop_content_schedule{
    position: absolute;
    top:10px;
    left: 30px;
    background-color: #f6f6f6;
}
#drop_content_homework{
    position: absolute;
    top:50px;
    left:30px;
    background-color: #f6f6f6;
}
#drop_content_revision{
    position: absolute;
    top:90px;
    left: 30px;
    background-color: #f6f6f6;
}

